  
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#main-navigation {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

#main-navigation a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}

#main-navigation a:hover,
#main-navigation a:active {
  color: #cf79f1;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: #cf79f1;
}
#main-navigation .search-container {
  float: right;
  
}

#main-navigation .search-container .search-form{
  border-radius: 12px;
}

#main-navigation input[type=text] {
  border-radius: 15px;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}


#main-navigation .search-container button {
  border-radius: 50%;
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 5px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#main-navigation .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) 
{
  #main-navigation{
   
    border: none;
  }
  #main-navigation .search-container input[type=text]{
    font-size: 15px;
  }
  #main-navigation .search-container {
    margin-top: 30px;
    margin-right: 20px;
    
  }
  #main-navigation a, #main-navigation input[type=text] {
    float: none;
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 5px;
    border-radius: 15px;
    outline: none;
    border: none;
  }
  #main-navigation .search-container .search-form button{
    visibility: hidden;

  }
  #main-navigation input[type=text] {
    border: 1px solid #ccc;  
  }
}