{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block css_files %}{% endblock %}
</head>
<body>
    
    <header id="main-navigation">
        <h1><a href="{% url 'starting-page' %}">Sai' Blog</a></h1>

        <div class="search-container">
            <form action="{% url 'search_blogs' %}" class="search-form" method="get">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          
        <nav>
            
            <a href="{% url 'read-later' %}">Stored Posts</a>
            <a href="{% url 'posts-page' %}">All Posts</a>
        </nav>
    </header>
    {% block content %}
    
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>